body {
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Delius Unicase", cursive;
  font-weight: 400;
  font-style: normal;
}
h1 {
  font-size: 48px;
}

footer {
  font-size: 10px;
}

a {
  color: #b5e1f6;
}

.weather-app {
  display: block;
  margin: 20px auto;
  padding: 20px 20px 50px 20px;
  background-color: rgba(255, 255, 255, 0.5);
  max-width: 700px;
  border-radius: 10px;
}

.search-form-input {
  background: #b5e1f6;
  width: 80%;
  border: 1px solid #1b1c1c;
  border-radius: 10px;
  padding: 15px;
  font-size: 15px;
  font-family: "Delius Unicase", cursive;
  font-weight: 400;
  font-style: normal;
}
.search-form-button {
  background: #b5e1f6;
  width: 15%;
  border: 1px solid #1b1c1c;
  border-radius: 10px;
  padding: 15px;
  font-size: 15px;
  font-family: "Delius Unicase", cursive;
  font-weight: 400;
  font-style: normal;
}

.current-forecast {
  border-bottom: 1px solid #b5e1f6;
  padding-bottom: 10px;
}
.current-forecast-details {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.current-date {
  max-width: 20%;
  font-size: 25px;
}
.emoji {
  width: 100px;
  height: 100px;
}
.temperature-container {
  display: flex;
  align-items: center;
}
.current-temp {
  font-size: 50px;
}

.forecast-descriptions {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  border-bottom: 1px solid #b5e1f6;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 0;
}

ul {
  list-style-type: none;
}
.weather-prediction {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  font-size: 15px;
}
